* {
	font-size: 1em;
	font-family: serif;
	box-sizing: border-box;
}

body {
	color: white;
	background: #fff;
}

.main-container {
	display: grid;
	grid-template: min-content 1fr / 1fr 80vw 1fr;
	background-color: white;
	color: black;
	min-height: 100%;
	min-width: 500px;
	margin: 0px auto;
}

.top-bar {
	position: sticky;
	top: 0px;
	background-color: white;
	grid-area: 1 / 1 / 3 / 4;
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: auto;
	border-bottom: 2px solid black;
	margin: 0 3em;
	padding-top: 2em;
}

.top-bar * {
	display: flex;
	align-items: end;
	justify-content: center;
}

.top-bar button {
	appearance: none;
	color: black;
	background-color: white;
	font-size: 2em;
	margin-bottom: 3%;
	padding: 0;
	border: 0;
}

.top-left {
	font-size: 3em;
	padding-bottom: 5px;
}

.top-right {
	gap: 2em;
	width: 35%;
}

.book-area {
	grid-area: 3 / 2 / 4 / 3;
	justify-self: center;
	display: grid;
	grid-auto-rows: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2em;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	width: 80%;
	margin: 0 auto;
	padding: 5% 0;

	font-size: 1.2em;
}

.book-entry { 
	display: grid;
	grid-template-rows: 1.5fr 2fr 1em;
	grid-template-columns: 0.7fr 1fr;
	width: 18vw;
	min-width: 300px;
	min-height: 200px;
	max-height: 300px;
	border: 1px solid black;
	padding: 0.7em;
}

.book-entry-icon {
	width: 100%;
	max-height: 100%;
	display: flex;
	justify-content: center;
	grid-area: 1 / 1 / 2 / 2;
	padding: 0.5em;
}

.book-entry-icon img {
	max-width: 80%;
}

.book-entry-info {
	grid-area: 1 / 2 / 2 / 3;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-bottom: 0.5em;
}

.book-entry-info-title {
	font-size: 1.2em;
	font-style: italic;
	font-weight: bold;
}

.book-entry-info-pages {
	font-size: 0.8em;
}

.book-entry-description {
	grid-area: 2 / 1 / 3 / 3;
	display: block;
	text-align: justify;
	word-break: break-word;
}

.book-entry-readstatus {
	grid-area: 3 / 2 / 4 / 3;
	justify-self: end;
	font-size: 0.8em;
	margin-top: 0.3em;
}

.book-entry-delete {
	font-size: 0.8em;
	display: none;
	grid-area: 3 / 1 / 4 / 2;
}

.book-entry-delete:hover {
	cursor: pointer;
	font-weight: bold;
}

dialog {
	width: 25vw;
	min-width: min-content;
	border: 2px solid black;
	padding: 0;
}

dialog::backdrop {
	backdrop-filter: blur(5px);
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1em;
}

form button {
	appearance: none;
	-webkit-appearance: none;
	background-color: white;
	text-align: center;
	color: black;
	width: 5vw;
	min-width: 100px;
	display: block;
	font-size: 1em;
	align-self: end;
	margin-top: 1em;
	border: 2px solid black;
}

.form-group {
	width: 100%;
	display: flex;
	justify-items: center;
	margin-bottom: 1em;
}

fieldset div:nth-child(5) {
	margin-top: 1.5em;
}

.form-group input {
	appearance: none;
	-webkit-appearance: none;
	position: relative;
	flex-grow: 2;
	border: 0;
	border-bottom: 1px solid black;
	border-radius: 0;
	outline: 0;
}

.form-group input[name="BookPages"]:invalid {
	border-color: red;
}

.form-group input[name="BookPages"]:invalid+span:before {
	right: 50px;
	color: red;
	font-size: 0.8em;
	text-decoration: italic;
	position: absolute;
	content: "Numbers only, preferably";
}

.form-group textarea {
	appearance: none;
	-webkit-appearance: none;
	flex-grow: 2;
	border: 0;
	border: 1px solid black;
	outline: 0;
	resize: none;
	border-radius: 0;
}

.form-group input[type="checkbox"] {
	position:relative;
	width: 15px;
	height: 15px;
	border: 1px solid black;
	margin-right: 0.5em;
}

.form-group input[type="checkbox"]:checked:before {
	position: absolute;
	top: -0.39em;
	right: -5px;
	font-size: 1.5em;
	content: "\2713";
}

.form-group label {
	margin-right: 1em;
}

legend {
	font-size: 2em;
	margin-bottom: 1em;
}
